@charset "utf-8";
/* CSS Document */
*
{
	margin-left:70px;
	margin-right:70px;
}
body
{
	background-image: url(images/main_background.jpg);
	//background-repeat:no-repeat;
	
}
#titlename
{
	
	margin-left:70px;
	margin-right:70px;
	background-image: url(images/Final%20logo.jpg);
	height:240px;
	width:935px;
	border-radius:19px;
	background-repeat:no-repeat;
}
#titlename h1
{
	position: absolute;
	width: auto;
	height: auto;
	left: 397px;
	top: 63px;
	font-family: Algerian;
	font-size: 48px;
	text-shadow: 4px 4px 8px #0000;
	color: #FCC;
}
#titlename h2
{
	position:absolute;
	left:520px;
	top:120px;
	fontsize:24px;
}
#login
{
	position: absolute;
	top: -9px;
	right: 445px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	width: 147px;
}
#register
{
	position:absolute;
	top:61px;
	right:-54px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:24px;
	width: 149px;
	height: 43px;
}

#popup
{  
	width:500px;
	height:300px;;
	border:1px solid white;
	background-color:white;
	top:30%;
	position:relative;
	margin: 0 auto;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 10px;
	-moz-border-radius: 10px;
	 border-radius: 10px;
 

	 opacity:1;	
}

#al {
	position: absolute;
	width: 338px;
	height: 222px;
	z-index: 1;
	left: 133px;
	top: 90px;
	font-size: 18px;
}
#apDiv16 {
	background: url(images/background.jpg);
	border-radius: 19px;
	position: absolute;
	width: 928px;
	height: 911px;
	z-index: 1;
	left: 139px;
	top: 652px;
}
#apDiv4 {
	position: absolute;
	width: 200px;
	height: 35px;
	z-index: 2;
	left: 288px;
	top: 41px;
	text-align: center;
	color: #CCC;
	font-size: 30px;
}

#apDiv17 {
	position: absolute;
	width: 200px;
	height: 151px;
	z-index: 2;
	left: 242px;
	top: 89px;
}
#apDiv37 {
	position: absolute;
	width: 758px;
	height: 59px;
	z-index: 2;
	left: -65px;
	top: 247px;
}
#if1 {
	position: absolute;
	width: 172px;
	height: 181px;
	z-index: 1;
	left: -290px;
	top: -31px;
}#overlay
{
	position:absolute;
	top:0px;
	visibility:hidden;
	opacity:1;
	left:0px;
	height:100%;
	width:100%;
	text-align:center;
}
#overlay:target
{
	visibility:visible;
	-webkit-animation: fade 400ms ease;
	animation: fade 400ms ease;
	-o-animation: fade 400ms ease;
}
#overlay:target > #popup
{
	
	 -webkit-animation: moveFromBottom 400ms ease;
	 animation:moveFromBottom 400ms ease;
	 -o-animation: moveFromBottom 400ms ease;
}
@-webkit-keyframes fade
{
  from
  {
	 	opacity: 0;
  }
  to {
	  
	  
	  opacity: 1;        
  }
}


@-webkit-keyframes moveFromBottom
{
	from {
	   
	   
		-webkit-transform: scale(.5);
		opacity: 0;
	}
	to {
		
		-webkit-transform: scale(1);
		opacity: 1;        
	}
}


@-moz-keyframes fade
{
	from {
	   
	   
		
		opacity: 0;
	}
	to {
		
		
		opacity: 1;        
	}
}


@-moz-keyframes moveFromBottom
{
	from {
	   
	   
		-webkit-transform: scale(.5);
		opacity: 0;
	}
	to {
		
		-webkit-transform: scale(1);
		opacity: 1;        
	}
}


@-ms-keyframes fade
{
	from {
	   
	   
		
		opacity: 0;
	}
	to {
		
		
		opacity: 1;        
	}
}


@-ms-keyframes moveFromBottom
{
	from {
	   
	   
		-webkit-transform: scale(.5);
		opacity: 0;
	}
	to {
		
		-webkit-transform: scale(1);
		opacity: 1;        
	}
}


@-o-keyframes fade
{
	from {
	   
	   
		
		opacity: 0;
	}
	to {
		
		
		opacity: 1;        
	}
}


@-o-keyframes moveFromBottom
{
	from {
	   
	   
		-webkit-transform: scale(.5);
		opacity: 0;
	}
	to {
		
		-webkit-transform: scale(1);
		opacity: 1;        
	}
}

 @keyframes fade
{
	from {
	   
	   
		
		opacity: 0;
	}
	to {
		
		
		opacity: 1;        
	}
}


@keyframes moveFromBottom
{
	from {
	   
	   
		-webkit-transform: scale(.5);
		opacity: 0;
	}
	to {
		
		-webkit-transform: scale(1);
		opacity: 1;        
	}
}
		

.login 
{
	padding:30px;
	margin-top:30px;
   
}
#lbl1
{
	font-size:25px;
	font-family:sans-serif;
	position:absolute;
	left:-60px;
	
}
#lbl2
{
	font-size:25px;
	font-family:sans-serif;
	position:absolute;
	left:-60px;
	top:130px;
}



.login .input1
{
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	
	font-size: 1.55em;
	padding: 11px 25px;
	padding-left: 55px;
	width: 250px;
	color: #777;
	
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
	
	position:absolute;
	left:60px;
	top:50px;

}
.login .input2
{
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	
	font-size: 1.55em;
	padding: 11px 25px;
	padding-left: 55px;
	width: 250px;
	color: #777;
	
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
	
	position:absolute;
	left:60px;
	top:120px;

}

.signup
{
	padding:30px;
	margin-top:30px;
   
}

#lbl11
{
	font-size:25px;
	font-family:sans-serif;
	position:absolute;
	left:-60px;
	
}
#classlist
{
	
	position:absolute;
	left:100px;
	top:60px;
	height:40px;
	font-size:25px;
	font-family:sans-serif;
}
#items
{

	font-size:25px;
	font-family:sans-serif;
	
}

#lbl22
{
	font-size:25px;
	font-family:sans-serif;
	position:absolute;
	left:-40px;
	top:130px;
}
.signup .input1
{
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	
	font-size: 1.55em;
	padding: 11px 25px;
	padding-left: 55px;
	width: 200px;
	color: #777;
	
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
	
	position:absolute;
	left:100px;
	top:120px;

}
#lbl33
{
	font-size:25px;
	font-family:sans-serif;
	position:absolute;
	left:-40px;
	top:210px;
}
.signup .input2
{
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	
	font-size: 1.55em;
	padding: 11px 25px;
	padding-left: 55px;
	width: 200px;
	color: #777;
	
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
	
	position:absolute;
	left:100px;
	top:200px;

}
#lbl44
{
	font-size:25px;
	font-family:sans-serif;
	position:absolute;
	left:-40px;
	top:290px;
}
.signup .input3
{
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	
	font-size: 1.55em;
	padding: 11px 25px;
	padding-left: 55px;
	width: 200px;
	color: #777;
	
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
	
	position:absolute;
	left:100px;
	top:280px;

}
#lbl55
{
	font-size:25px;
	font-family:sans-serif;
	position:absolute;
	left:-40px;
	top:370px;
}
.signup .input4
{
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	
	font-size: 1.55em;
	padding: 11px 25px;
	padding-left: 55px;
	width: 200px;
	color: #777;
	
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
	
	position:absolute;
	left:100px;
	top:360px;

}

#submitbtn2
{
	position: absolute;
	top: 440px;
	left: 120px;
	alignment-adjust: central;
	height: 2em;
	padding: 0 1em;
	border: 1px solid;
	outline: 0;
	font-weight: bold;
	font-size: 1.3em;
	color: #fff;
	text-shadow: 0px 1px 0px #222;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-color: #030a03 #071807 #000;
	-moz-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	-ms-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	-webkit-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	background-color: #336699;
	background-image: -moz-linear-gradient(top, rgb(226,238,175) 3%, rgb(188,216,77) 3%, rgb(144,176,38) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgb(226,238,175)), color-stop(3%,rgb(188,216,77)), color-stop(100%,rgb(144,176,38)));
	background-image: -webkit-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	background-image: -o-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	background-image: -ms-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	background-image: linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeaf', endColorstr='#90b026',GradientType=0 );
}

.close_button
{
	position:absolute;
	right:1px;
	cursor:pointer;
	border:none;
	margin-top:-30px;
}
            





#slider
{
	margin-top:20px;
	overflow:hidden;
	position:relative;
	background-image:url(images/di1.png);
	background-size:930px; 
	background-repeat:no-repeat;
	width:1000px;
	height:400px;
}

#leftlist
{
	position:relative;
}
#leftlist li
{
	list-style:none;
	position: absolute;
	top:10px;
	left:-325px;
}

#leftlist li.firstanim
{
	animation:animfirst 50s linear infinite;
	-o-animation:animfirst 50s linear infinite;
	-webkit-animation:animfirst 50s linear infinite;
}
#leftlist li.secondanim
{
	animation:animsecond 50s linear infinite;
	-o-animation:animsecond 50s linear infinite;
	-webkit-animation:animsecond 50s linear infinite;
}

#leftlist li.thirdanim
{
	animation:animthird 50s linear infinite;
	-o-animation:animthird 50s linear infinite;
	-webkit-animation:animthird 50s linear infinite;
}
#leftlist li.fourthanim
{
	animation:animfourth 50s linear infinite;
	-o-animation:animfourth 50s linear infinite;
	-webkit-animation:animfourth 50s linear infinite;
}
@keyframes animfirst
{
	0%{ left:-325px;opacity:1;}
	7%{left:-325px;opacity:1;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@keyframes animsecond
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:1;}
	31%{left:-325px;opacity:1;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@keyframes animthird
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:1;}
	55%{left:-325px;opacity:1;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@keyframes animfourth
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:1;}
	79%{left:-325px;opacity:1;}
	100%{ left:-325px;opacity:0;}
}
@-o-keyframes animfirst
{
	0%{ left:-325px;opacity:1;}
	7%{left:-325px;opacity:1;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@-o-keyframes animsecond
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:1;}
	31%{left:-325px;opacity:1;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@-o-keyframes animthird
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:1;}
	55%{left:-325px;opacity:1;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@-o-keyframes animfourth
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:1;}
	79%{left:-325px;opacity:1;}
	100%{ left:-325px;opacity:0;}
}

@-webkit-keyframes animfirst
{
	0%{ left:-325px;opacity:1;}
	7%{left:-325px;opacity:1;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@-webkit-keyframes animsecond
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:1;}
	31%{left:-325px;opacity:1;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@-webkit-keyframes animthird
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:1;}
	55%{left:-325px;opacity:1;}
	72%{left:-325px;opacity:0;}
	100%{left:-325px;opacity:0;}
}
@-webkit-keyframes animfourth
{
	0%{ left:-325px;opacity:0;}
	12%{ left:-325px;opacity:0;}
	24%{left:-325px;opacity:0;}
	36%{left:-325px;opacity:0;}
	48%{left:-325px;opacity:0;}
	60%{left:-325px;opacity:0;}
	72%{left:-325px;opacity:1;}
	79%{left:-325px;opacity:1;}
	100%{ left:-325px;opacity:0;}
}

#rightlist
{
	position:relative;
}

#rightlist li
{
	list-style:none;
	position: absolute;
	top:-25px;
	left:230px;
	width:510px;
	color:#906;
	font:20px bold Tahoma, Geneva, sans-serif;
}

#rightlist li.firstanimq
{
	animation:animfirstq 50s linear infinite;
	-o-animation:animfirstq 50s linear infinite;
	-webkit-animation:animfirstq 50s linear infinite;
}

#rightlist li.secondanimq
{
	animation:animsecondq 50s linear infinite;
	-o-animation:animsecondq 50s linear infinite;
	-webkit-animation:animsecondq 50s linear infinite;
}

#rightlist li.thirdanimq
{
	animation:animthirdq 50s linear infinite;
	-o-animation:animthirdq 50s linear infinite;
	-webkit-animation:animthirdq 50s linear infinite;
}
#rightlist li.fourthanimq
{
	animation:animfourthq 50s linear infinite;
	-o-animation:animfourthq 50s linear infinite;
	-webkit-animation:animfourthq 50s linear infinite;
}
@keyframes animfirstq
{
	0%{ left:230px;opacity:1;}
	7%{left:230px;opacity:1;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}
@keyframes animsecondq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:1;}
	31%{left:230px;opacity:1;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}
@keyframes animthirdq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:1;}
	55%{left:230px;opacity:1;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}

@keyframes animfourthq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:1;}
	79%{left:230px;opacity:1;}
	100%{left:230px;opacity:0;}
}
@-o-keyframes animfirstq
{
	0%{ left:230px;opacity:1;}
	7%{left:230px;opacity:1;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}
@-o-keyframes animsecondq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:1;}
	31%{left:230px;opacity:1;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}
@-o-keyframes animthirdq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:1;}
	55%{left:230px;opacity:1;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}

@-o-keyframes animfourthq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:1;}
	79%{left:230px;opacity:1;}
	100%{left:230px;opacity:0;}
}

@-webkit-keyframes animfirstq
{
	0%{ left:230px;opacity:1;}
	7%{left:230px;opacity:1;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}
@-webkit-keyframes animsecondq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:1;}
	31%{left:230px;opacity:1;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}
@-webkit-keyframes animthirdq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:1;}
	55%{left:230px;opacity:1;}
	72%{left:230px;opacity:0;}
	100%{left:230px;opacity:0;}
}

@-webkit-keyframes animfourthq
{
	0%{ left:230px;opacity:0;}
	12%{ left:230px;opacity:0;}
	24%{left:230px;opacity:0;}
	36%{left:230px;opacity:0;}
	48%{left:230px;opacity:0;}
	60%{left:230px;opacity:0;}
	72%{left:230px;opacity:1;}
	79%{left:230px;opacity:1;}
	100%{left:230px;opacity:0;}
}

div#menu
{
	margin-top:-80px;
	background-color:#000;
	alignment-adjust:central;
	position:static;
}
#rolling-nav 
{
  font:normal 12px 'Trebuchet MS',Arial,Sans-Serif;
  color:white;
  text-transform:uppercase;
}

#rolling-nav ul
{
  height:50px;
  margin:0px;
  padding:0px 0px;
  overflow: hidden;
}

#rolling-nav li
{
  float:left;
  display:inline;
  list-style:none;
  margin:0px 0px;
  padding-right:1px;
  padding-left:0px;

}

#rolling-nav a,
#rolling-nav a:before
{
  display:block;
  margin:0px 0px;
  padding:0px 30px;
  line-height:50px;
  color:white;
  text-decoration:none;
  background-color: #900;
  background-image:-webkit-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:-moz-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:-ms-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:-o-linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  background-image:linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
  box-shadow:inset 0px 1px 0px rgba(255,255,255,0.1);
  position:relative;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;

}
#rolling-nav a:before
{
  content:attr(data-clone);
  position:absolute;
  top:100%;
  left:0px;
  display:block;
  background-color:white;
  background-image:-webkit-linear-gradient(top, #ddd, white);
  background-image:-moz-linear-gradient(top, #ddd, white);
  background-image:-ms-linear-gradient(top, #ddd, white);
  background-image:-o-linear-gradient(top, #ddd, white);
  background-image:linear-gradient(top, #ddd, white);
  border-top:2px solid rgba(0,0,0,0.2);
  color:#333;
}
#rolling-nav a:hover
{
  margin-top:-50px;
  margin-bottom:1px;
}
#saint
{
	margin-left:70px;
	margin-right:70px;
	float:left;
	width:250px;
	height:300px;
}
.head1
{
	text-align:center;
	font:bold 24px Tahoma, Geneva, sans-serif;
	color:#FFF;
}
.head2
{
	font:bold 16px Tahoma, Geneva, sans-serif;
	color: #003;
	
}

#main_section
{
	-webkit-box-flex:1;
	margin-top:20px;
	-webkit-box-flex:1;
	margin:20px;
	padding:20px;
}
#info
{
	font:bold 14px Tahoma, Geneva, sans-serif;
	color:#CCC;
	font-family: Tahoma, Geneva, sans-serif;
}
#the_footer
{
	width:800px;
	text-align:center;
	border-top:2px solid;
	color:black;
}
#the_footer a
{
	color:#000;
	font-weight: normal;
}
#apDiv1 {
	position:absolute;
	width:842px;
	height:115px;
	z-index:1;
	left: 121px;
	top: 716px;
}
#apDiv2 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
	left: 169px;
	top: 715px;
}
#apDiv5 {
	position:absolute;
	width:265px;
	height:228px;
	z-index:1;
	left: -125px;
	top: 58px;
}
#apDiv6 {
	position:absolute;
	width:600px;
	height:249px;
	z-index:2;
	left: 66px;
	top: 51px;
}
#apDiv7 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:3;
	left: -146px;
	top: 524px;
}
#apDiv {	position:absolute;
	width:200px;
	height:115px;
	z-index:3;
	left: -146px;
	top: 524px;
}
#apDiv8 {
	position: absolute;
	width: 793px;
	height: 169px;
	z-index: 3;
	left: -117px;
	top: 280px;
}
#apDiv3 #apDiv8 p {
	color: #ccc;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
#apDiv9 {
	border-radius: 19px;
	background: url(images/background.jpg);
	background-repeat: no-repeat;
	;
	position: absolute;
	width: 996px;
	height: 625px;
	z-index: 3;
	left: 72px;
	top: 660px;
}
#apDiv10 {
	border-radius: 19px;
	background:url(images/background.jpg);
	position: absolute;
	width: 679px;
	height: 375px;
	z-index: 4;
	left: 143px;
	top: 1094px;
}
#apDiv11 {
	position:absolute;
	width:507px;
	height:46px;
	z-index:1;
	left: 44px;
	top: 2px;
}
#apDiv12 {
	position:absolute;
	width:305px;
	height:210px;
	z-index:2;
	left: -118px;
	top: 46px;
}
#titlename #tagline pre {
	color: #FFF;
}
#apDiv13 {
	position:absolute;
	width:577px;
	height:224px;
	z-index:3;
	left: 81px;
	top: 29px;
}
#apDiv14 {
	position:absolute;
	width:737px;
	height:165px;
	z-index:4;
	left: -110px;
	top: 202px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ccc;
}
#apDiv15 {
	position: absolute;
	width: 184px;
	height: 141px;
	z-index: 1;
	left: -13px;
	top: 218px;

}

#titlename #schoolname i {
	color: #FFF;
}
#apDiv18 {
	position:absolute;
	width:190px;
	height:42px;
	z-index:1;
	left: -46px;
	top: 37px;
	color: #FFF;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
}
#apDiv19 {
	position:absolute;
	width:194px;
	height:371px;
	z-index:2;
	left: -50px;
	top: 105px;
}
#apDiv20 {
	position: absolute;
	width: 737px;
	height: 101px;
	z-index: 6;
	left: 125px;
	top: 1541px;
}
#apDiv21 {
	position: absolute;
	width: 200px;
	height: 31px;
	z-index: 6;
	left: -61px;
	top: 5px;
}
#apDiv22 {
	position: absolute;
	width: 919px;
	height: 96px;
	z-index: 6;
	left: 132px;
	top: 1519px;
}
#apDiv23 {
	position: absolute;
	width: 163px;
	height: 31px;
	z-index: 1;
	left: -4px;
	top: 11px;
}
#apDiv24 {
	position: absolute;
	width: 18px;
	height: 29px;
	z-index: 2;
	left: 120px;
	top: 11px;
}
#apDiv25 {
	position: absolute;
	width: 129px;
	height: 35px;
	z-index: 3;
	left: 72px;
	top: 12px;
}
#apDiv26 {
	position: absolute;
	width: 59px;
	height: 24px;
	z-index: 7;
	left: 67px;
	top: 0px;
}
#apDiv27 {
	position: absolute;
	width: 144px;
	height: 28px;
	z-index: 4;
	left: 179px;
	top: 12px;
}
#apDiv28 {
	position: absolute;
	width: 33px;
	height: 22px;
	z-index: 5;
	left: 323px;
	top: 12px;
}
#apDiv29 {
	position: absolute;
	width: 136px;
	height: 37px;
	z-index: 6;
	left: 288px;
	top: 11px;
}
#apDiv30 {
	position: absolute;
	width: 53px;
	height: 25px;
	z-index: 7;
	left: 418px;
	top: 10px;
}
#apDiv31 {
	position: absolute;
	width: 194px;
	height: 35px;
	z-index: 8;
	left: 394px;
	top: 11px;
}
#apDiv32 {
	position: absolute;
	width: 37px;
	height: 33px;
	z-index: 9;
	left: 543px;
	top: 9px;
}
#apDiv33 {
	position: absolute;
	width: 202px;
	height: 34px;
	z-index: 10;
	left: 516px;
	top: 11px;
}
#apDiv34 {
	position: absolute;
	width: 69px;
	height: 35px;
	z-index: 11;
	left: 640px;
	top: 9px;
}
#apDiv35 {
	position: absolute;
	width: 257px;
	height: 35px;
	z-index: 12;
	left: 608px;
	top: 10px;
}
#apDiv36 {
	position: absolute;
	width: 829px;
	height: 23px;
	z-index: 13;
	left: -3px;
	top: 61px;
}
.submitbtn
{
	alignment-adjust: central;
	height: 1.5em;
	width: 300px;
	padding: 0 1em;
	border: 1px solid;
	outline: 0;
	font-weight: bold;
	font-size: 1.3em;
	color: #FFF;
	text-shadow: 0px 1px 0px #222;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-color: #030a03 #071807 #000;
	-moz-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	-ms-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	-webkit-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
	background-color: #1c2190;
	background-image: -moz-linear-gradient(top, rgb(226,238,175) 3%, rgb(188,216,77) 3%, rgb(144,176,38) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgb(226,238,175)), color-stop(3%,rgb(188,216,77)), color-stop(100%,rgb(144,176,38)));
	background-image: -webkit-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	background-image: -o-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	background-image: -ms-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	background-image: linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeaf', endColorstr='#90b026',GradientType=0 );
	position: absolute;
}
#hline
{
	position:relative;
	left:-150px;
	top:600px;
	width:950px;
}
#copyright
{
	position:relative;
	left:150px;
	top:620px;
	width:500px;
	height:50px;
}
